.battleship{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.grid{
    height:42vh;
    width:42vw;
    display:flex;
    flex-wrap: wrap;
    background-color:lightgray;
    color: black;
}
.square{
    height: 4vh;
    width: 4vw;
    margin: 0.1vh 0.1vw
}
.you{
    background-color: black;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}
.opp{
    background-color: dimgray;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}
.player{
    align-self: center;
}
.info{
    background-color: lightsteelblue;
}
.ships{
    margin-top: 2vh;
    padding-left: 1vw;
    padding-right: 2vw;
    height: 21vh;
    width: 45vw;
    background-color: lightsteelblue;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ship1-options{
    align-self: flex-end;
}
.ship2-options{
    align-self: flex-end;
}
.warnings{
    color: red;
}
.place-button{
    align-self: flex-end;
}
.rotate{
    transform: rotate(90deg);
}
.start-button{
justify-self: flex-end;
}
.player-status{
    font-weight: 400;
    color: lightskyblue;
}